body {
    font-family: sans-serif;
    padding: 30px;
    background-color: #f4f4f4;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4f87c2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  .section label{
    display:block;
    margin-top: 10px;
    font-weight: bold;
  }
  .section input,
  .section textarea,
  .section select{
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;

  }
  .section {
    background: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }
  
  .hidden {
    display: none;
  }

  .incident-card {
  background-color: #f9f9f9;
  padding: 15px;
  margin-top: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

textarea {
    resize: vertical;
    min-height: 80px;
  }